
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$primary-color: #007bb3;
$color-primary-hover: #006098;
$color-white: #fff;
$color-border: #ccc;
$header-height: 90px;
$input-height: 45px;
$color-text-black: #000;
$color-black: #333;
$color-text-gray: #737375;
$color-secondary: #2e2840;
$color-primary-v3: #b3134e;
$font-family-base: Helvetica, "Helvetica Neue", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-montserrat: "Montserrat", $font-family-base;
$mobile-breakpoint: 769px;
$mobile-max-breakpoint: $mobile-breakpoint - 1;

.client-header {
  display: flex;
  height: $header-height;
  box-shadow: -1.23px -1.58px 7px #757575;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
}

.d-none-desktop {
  @media (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.d-none-mobile {
  @media (max-width: $mobile-max-breakpoint) {
    display: none !important;
  }
}

.client-logo {
  background-color: $primary-color;
  display: inline-flex;
  padding: 0 60px 0 15px;
  align-items: center;
  height: 100%;
  position: relative;
  @media (max-width: $mobile-max-breakpoint) {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
  }
  &-diagonal {
    background-color: $color-white;
    height: 100%;
    position: absolute;
    right: -40px;
    transform: skewX(-41deg);
    width: 80px;
    @media (max-width: $mobile-max-breakpoint) {
      display: none;
    }
  }
}
.client-login-message {
  color: $color-white;
  text-shadow: 0px 3px 6px #19191936;
  margin-top: 177px;
  font-family: $font-family-montserrat;
  font-weight: 600;
  font-size: 34px;
  line-height: 39px;
  @media (max-width: $mobile-max-breakpoint) {
    margin: 25px 0;
    max-width: none;
  }
  &-welcome {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 2px;
    font-family: $font-family-base;
  }
  &-top {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 2px;
    font-weight: 600;
    font-family: $font-family-montserrat;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family: $font-family-montserrat;
    &.okta-form-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin: 7px 0 20px 0;
      color: $color-primary-v3;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile-max-breakpoint) {
    flex-direction: column;
    padding-bottom: 80px;
    margin: 0;
    max-width: none;
  }
}

.client-footer {
  background-color: $color-black;
  padding: 28px 15px;
  display: flex;
  justify-content: space-between;
  color: $color-white;
  font-family: $font-family-montserrat;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  width: 100%;
  @media (max-width: $mobile-max-breakpoint) {
    flex-direction: column-reverse;
  }
  &-links {
    display: flex;
    @media (max-width: $mobile-max-breakpoint) {
      margin-top: 13px;
      flex-wrap: wrap;
    }
    > div {
      line-height: 1;
    }
  }
  &-height {
    height: 124px;
    width: 100%;
    @media (max-width: $mobile-max-breakpoint) {
      height: 220px;
    }
  }
  .copyright {
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    margin-top: 30px;
  }
  a {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    margin-right: 20px;
    white-space: nowrap;
  }
  .download {
    font-size: 14px;
    text-align: right;
    @media (max-width: $mobile-max-breakpoint) {
      text-align: left;
    }
    &-links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: $mobile-max-breakpoint) {
        justify-content: flex-start;
        margin: 10px 0 15px 0;
      }
      a {
        margin: 0 0 0 8px;
        @media (max-width: $mobile-max-breakpoint) {
          margin: 0 20px 0 0;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

body {
  font-family: $font-family-base;
  .login-bg-image {
    top: $header-height;
    min-height: calc(100vh - 90px - 124px);
    position: static;
  }
  #okta-sign-in {
    width: 430px;
    @media (max-width: $mobile-max-breakpoint) {
      width: 100%;
    }

    &.auth-container {
      border-radius: 10px;
      &.main-container {
        margin: 60px 0;
        font-family: $font-family-base;
        @media (max-width: $mobile-max-breakpoint) {
          margin: 0;
        }
        .recovery-question,
        .password-reset {
          .o-form-button-bar {
            margin-bottom: 32px;
          }
        }
      }
      .okta-sign-in-header {
        display: flex;
        align-items: center;
        padding: 14px 30px 14px 22px;
        justify-content: center;
        border-bottom: 1px solid $color-border;
        .auth-org-logo {
          max-height: none;
          margin: 0 10px 0 0;
        }
        @media (max-width: $mobile-max-breakpoint) {
          padding-left: 0 !important;
        }
        .sub-header {
          margin-bottom: 5px;
          font-family: $font-family-base;
          color: $color-text-gray;
        }
      }
      .o-form-button-bar {
        padding-bottom: 0;
      }
      .auth-content {
        padding: 18px 30px 0 30px;
        @media (max-width: $mobile-max-breakpoint) {
          padding: 20px 15px 0 15px;
        }
        .o-form-content {
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
        .forgot-password {
          margin-bottom: 20px;
        }
        .mobile-recovery-hint {
          margin: 15px 0 25px 0;
          top: 0;
          font-size: 14px;
          color: $color-text-gray;
          font-family: $font-family-base;
          padding-bottom: 0;
        }
      }
      h2 {
        font-size: 20px;
        font-family: $font-family-montserrat;
        color: #333;
        font-weight: 500;
        &.okta-form-title {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          margin: 7px 0 20px 0;
          color: $color-primary-v3;
        }
      }
      .link-button {
        font-size: 16px;
        font-family: $font-family-montserrat;
        font-weight: 400;
        color: $color-text-gray;
        border: 1px solid $color-border;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        background-color: $color-white;
        cursor: pointer;
        &.sms-request-button {
          margin-left: 13px;
          min-width: 152px;
        }
      }
      input[type="submit"].button-primary,
      .button-primary {
        font-size: 18px;
        font-family: $font-family-montserrat;
        font-weight: 400;
        background-image: none;
        background-color: $primary-color;
        border: none;
        max-height: 45px;
        &:hover {
          background-color: $color-primary-hover;
          background-image: none;
        }
        &.link-button {
          margin-bottom: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          &:last-child {
            margin-bottom: 10px;
          }
        }
      }

      .help-links {
        .footer-link {
          padding: 20px 0;
          border-top: 1px solid $color-border;
          margin: 36px -30px 0 -30px;
          .link {
            font-size: 16px;
            font-family: $font-family-montserrat;
          }
        }
        li {
          text-align: center;
          font-family: $font-family-base;
          color: $color-text-gray;
          margin-top: 24px;
          font-size: 16px;
          .next-line-text {
            font-family: $font-family-montserrat;
            color: $color-text-gray;
            margin-bottom: 10px;
            margin-top: -14px;
            line-height: 19px;
          }
          &:first-child {
            margin-top: 18px;
          }
          &:empty {
            display: none;
          }
        }
      }
      .link {
        color: $primary-color;
        font-size: 16px;
        font-family: $font-family-montserrat;
        font-weight: 400;
        &:link,
        &:visited {
          color: $primary-color;
        }
        &:hover,
        &:active {
          color: $color-primary-hover;
        }
        &.help-link-recoverypage {
          margin: 20px -30px 20px -30px;
          padding-top: 20px;
          border-top: 1px solid $color-border;
          display: block;
          text-align: center;
        }
        &.js-back,
        &[data-se="signout-link"] {
          margin-bottom: 16px;
        }
        &.send-email-link {
          margin-top: 20px;
        }
      }
      .okta-form-label {
        padding: 0 0 5px 0;
      }
      .o-form-fieldset {
        margin-bottom: 9px !important;
        &:last-child {
          margin-bottom: 0 !important;
        }
        &.required-field {
          label::after {
            content: '*';
            color: #f42b36;
          }
        }
        &.enroll-sms-phone {
          width: auto;
        }
        .o-form-explain:empty {
          display: none;
        }
        .custom-checkbox {
          margin: -7px 0;
        }
        .o-form-input-error .o-form-explain {
          word-break: break-word;
        }
      }
    }

    .password-requirements--header {
      color: $color-secondary;
      font-size: 16px;
      margin-top: 32px;
    }

    .password-requirements--list {
      padding-bottom: 16px;
      &-item {
        font-size: 14px;
        color: #707070;
        line-height: 16px;
        margin-bottom: 8px;
        &::marker {
          color: $color-primary-v3;
          font-size: 18px;
        }
      }
    }

    .recovery-challenge .o-form-fieldset-container {
      align-items: flex-start;
      .button {
        margin-top: 22px !important;
      }
    }
    .o-form label {
      font-family: $font-family-base;
      color: $color-text-gray;
      font-weight: 400;
      font-size: 16px;
    }
    .o-form {
      .custom-checkbox label {
        font-size: 16px;
      }
      .o-form-input .o-form-control {
        height: $input-height;
        border: 1px solid $color-border;
        input {
          font-family: $font-family-base;
          font-size: 16px;
          color: $color-black;
        }
      }
    }
    .auth-footer {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}
