@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
 .client-header {
	 display: flex;
	 height: 90px;
	 box-shadow: -1.23px -1.58px 7px #757575;
	 align-items: center;
	 justify-content: space-between;
	 background-color: #fff;
}
 @media (min-width: 769px) {
	 .d-none-desktop {
		 display: none !important;
	}
}
 @media (max-width: 768px) {
	 .d-none-mobile {
		 display: none !important;
	}
}
 .client-logo {
	 background-color: #007bb3;
	 display: inline-flex;
	 padding: 0 60px 0 15px;
	 align-items: center;
	 height: 100%;
	 position: relative;
}
 @media (max-width: 768px) {
	 .client-logo {
		 background-color: #fff;
		 display: flex;
		 justify-content: center;
		 padding: 8px 0;
		 width: 100%;
	}
}
 .client-logo-diagonal {
	 background-color: #fff;
	 height: 100%;
	 position: absolute;
	 right: -40px;
	 transform: skewX(-41deg);
	 width: 80px;
}
 @media (max-width: 768px) {
	 .client-logo-diagonal {
		 display: none;
	}
}
 .client-login-message {
	 color: #fff;
	 text-shadow: 0px 3px 6px #19191936;
	 margin-top: 177px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 font-weight: 600;
	 font-size: 34px;
	 line-height: 39px;
}
 @media (max-width: 768px) {
	 .client-login-message {
		 margin: 25px 0;
		 max-width: none;
	}
}
 .client-login-message-welcome {
	 font-size: 18px;
	 line-height: 21px;
	 margin-bottom: 2px;
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 .client-login-message-top {
	 font-size: 34px;
	 line-height: 36px;
	 margin-bottom: 2px;
	 font-weight: 600;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 .client-login-message h2 {
	 font-size: 20px;
	 line-height: 24px;
	 font-weight: 400;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 .client-login-message h2.okta-form-title {
	 font-size: 18px;
	 font-weight: 400;
	 line-height: 22px;
	 margin: 7px 0 20px 0;
	 color: #b3134e;
}
 .container {
	 display: flex;
	 justify-content: space-between;
}
 @media (max-width: 768px) {
	 .container {
		 flex-direction: column;
		 padding-bottom: 80px;
		 margin: 0;
		 max-width: none;
	}
}
 .client-footer {
	 background-color: #333;
	 padding: 28px 15px;
	 display: flex;
	 justify-content: space-between;
	 color: #fff;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 position: absolute;
	 bottom: 0;
	 font-size: 16px;
	 width: 100%;
}
 @media (max-width: 768px) {
	 .client-footer {
		 flex-direction: column-reverse;
	}
}
 .client-footer-links {
	 display: flex;
}
 @media (max-width: 768px) {
	 .client-footer-links {
		 margin-top: 13px;
		 flex-wrap: wrap;
	}
}
 .client-footer-links > div {
	 line-height: 1;
}
 .client-footer-height {
	 height: 124px;
	 width: 100%;
}
 @media (max-width: 768px) {
	 .client-footer-height {
		 height: 220px;
	}
}
 .client-footer .copyright {
	 font-size: 14px;
	 font-weight: 400;
	 color: inherit;
	 margin-top: 30px;
}
 .client-footer a {
	 font-size: 14px;
	 font-weight: 600;
	 color: inherit;
	 margin-right: 20px;
	 white-space: nowrap;
}
 .client-footer .download {
	 font-size: 14px;
	 text-align: right;
}
 @media (max-width: 768px) {
	 .client-footer .download {
		 text-align: left;
	}
}
 .client-footer .download-links {
	 display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
}
 @media (max-width: 768px) {
	 .client-footer .download-links {
		 justify-content: flex-start;
		 margin: 10px 0 15px 0;
	}
}
 .client-footer .download-links a {
	 margin: 0 0 0 8px;
}
 @media (max-width: 768px) {
	 .client-footer .download-links a {
		 margin: 0 20px 0 0;
	}
	 .client-footer .download-links a:last-child {
		 margin-right: 0;
	}
}
 body {
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 body .login-bg-image {
	 top: 90px;
	 min-height: calc(100vh - 90px - 124px);
	 position: static;
}
 body #okta-sign-in {
	 width: 430px;
}
 @media (max-width: 768px) {
	 body #okta-sign-in {
		 width: 100%;
	}
}
 body #okta-sign-in.auth-container {
	 border-radius: 10px;
}
 body #okta-sign-in.auth-container.main-container {
	 margin: 60px 0;
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 @media (max-width: 768px) {
	 body #okta-sign-in.auth-container.main-container {
		 margin: 0;
	}
}
 body #okta-sign-in.auth-container.main-container .recovery-question .o-form-button-bar, body #okta-sign-in.auth-container.main-container .password-reset .o-form-button-bar {
	 margin-bottom: 32px;
}
 body #okta-sign-in.auth-container .okta-sign-in-header {
	 display: flex;
	 align-items: center;
	 padding: 14px 30px 14px 22px;
	 justify-content: center;
	 border-bottom: 1px solid #ccc;
}
 body #okta-sign-in.auth-container .okta-sign-in-header .auth-org-logo {
	 max-height: none;
	 margin: 0 10px 0 0;
}
 @media (max-width: 768px) {
	 body #okta-sign-in.auth-container .okta-sign-in-header {
		 padding-left: 0 !important;
	}
}
 body #okta-sign-in.auth-container .okta-sign-in-header .sub-header {
	 margin-bottom: 5px;
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 color: #737375;
}
 body #okta-sign-in.auth-container .o-form-button-bar {
	 padding-bottom: 0;
}
 body #okta-sign-in.auth-container .auth-content {
	 padding: 18px 30px 0 30px;
}
 @media (max-width: 768px) {
	 body #okta-sign-in.auth-container .auth-content {
		 padding: 20px 15px 0 15px;
	}
}
 body #okta-sign-in.auth-container .auth-content .o-form-content {
	 margin-bottom: 10px;
	 padding-bottom: 10px;
}
 body #okta-sign-in.auth-container .auth-content .forgot-password {
	 margin-bottom: 20px;
}
 body #okta-sign-in.auth-container .auth-content .mobile-recovery-hint {
	 margin: 15px 0 25px 0;
	 top: 0;
	 font-size: 14px;
	 color: #737375;
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 padding-bottom: 0;
}
 body #okta-sign-in.auth-container h2 {
	 font-size: 20px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 color: #333;
	 font-weight: 500;
}
 body #okta-sign-in.auth-container h2.okta-form-title {
	 font-size: 18px;
	 font-weight: 400;
	 line-height: 22px;
	 margin: 7px 0 20px 0;
	 color: #b3134e;
}
 body #okta-sign-in.auth-container .link-button {
	 font-size: 16px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 font-weight: 400;
	 color: #737375;
	 border: 1px solid #ccc;
	 height: 45px;
	 display: flex;
	 align-items: center;
	 padding: 0;
	 justify-content: center;
	 background-color: #fff;
	 cursor: pointer;
}
 body #okta-sign-in.auth-container .link-button.sms-request-button {
	 margin-left: 13px;
	 min-width: 152px;
}
 body #okta-sign-in.auth-container input[type="submit"].button-primary, body #okta-sign-in.auth-container .button-primary {
	 font-size: 18px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 font-weight: 400;
	 background-image: none;
	 background-color: #007bb3;
	 border: none;
	 max-height: 45px;
}
 body #okta-sign-in.auth-container input[type="submit"].button-primary:hover, body #okta-sign-in.auth-container .button-primary:hover {
	 background-color: #006098;
	 background-image: none;
}
 body #okta-sign-in.auth-container input[type="submit"].button-primary.link-button, body #okta-sign-in.auth-container .button-primary.link-button {
	 margin-bottom: 12px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
}
 body #okta-sign-in.auth-container input[type="submit"].button-primary.link-button:last-child, body #okta-sign-in.auth-container .button-primary.link-button:last-child {
	 margin-bottom: 10px;
}
 body #okta-sign-in.auth-container .help-links .footer-link {
	 padding: 20px 0;
	 border-top: 1px solid #ccc;
	 margin: 36px -30px 0 -30px;
}
 body #okta-sign-in.auth-container .help-links .footer-link .link {
	 font-size: 16px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 body #okta-sign-in.auth-container .help-links li {
	 text-align: center;
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 color: #737375;
	 margin-top: 24px;
	 font-size: 16px;
}
 body #okta-sign-in.auth-container .help-links li .next-line-text {
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 color: #737375;
	 margin-bottom: 10px;
	 margin-top: -14px;
	 line-height: 19px;
}
 body #okta-sign-in.auth-container .help-links li:first-child {
	 margin-top: 18px;
}
 body #okta-sign-in.auth-container .help-links li:empty {
	 display: none;
}
 body #okta-sign-in.auth-container .link {
	 color: #007bb3;
	 font-size: 16px;
	 font-family: "Montserrat", Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 font-weight: 400;
}
 body #okta-sign-in.auth-container .link:link, body #okta-sign-in.auth-container .link:visited {
	 color: #007bb3;
}
 body #okta-sign-in.auth-container .link:hover, body #okta-sign-in.auth-container .link:active {
	 color: #006098;
}
 body #okta-sign-in.auth-container .link.help-link-recoverypage {
	 margin: 20px -30px 20px -30px;
	 padding-top: 20px;
	 border-top: 1px solid #ccc;
	 display: block;
	 text-align: center;
}
 body #okta-sign-in.auth-container .link.js-back, body #okta-sign-in.auth-container .link[data-se="signout-link"] {
	 margin-bottom: 16px;
}
 body #okta-sign-in.auth-container .link.send-email-link {
	 margin-top: 20px;
}
 body #okta-sign-in.auth-container .okta-form-label {
	 padding: 0 0 5px 0;
}
 body #okta-sign-in.auth-container .o-form-fieldset {
	 margin-bottom: 9px !important;
}
 body #okta-sign-in.auth-container .o-form-fieldset:last-child {
	 margin-bottom: 0 !important;
}
 body #okta-sign-in.auth-container .o-form-fieldset.required-field label::after {
	 content: '*';
	 color: #f42b36;
}
 body #okta-sign-in.auth-container .o-form-fieldset.enroll-sms-phone {
	 width: auto;
}
 body #okta-sign-in.auth-container .o-form-fieldset .o-form-explain:empty {
	 display: none;
}
 body #okta-sign-in.auth-container .o-form-fieldset .custom-checkbox {
	 margin: -7px 0;
}
 body #okta-sign-in.auth-container .o-form-fieldset .o-form-input-error .o-form-explain {
	 word-break: break-word;
}
 body #okta-sign-in .password-requirements--header {
	 color: #2e2840;
	 font-size: 16px;
	 margin-top: 32px;
}
 body #okta-sign-in .password-requirements--list {
	 padding-bottom: 16px;
}
 body #okta-sign-in .password-requirements--list-item {
	 font-size: 14px;
	 color: #707070;
	 line-height: 16px;
	 margin-bottom: 8px;
}
 body #okta-sign-in .password-requirements--list-item::marker {
	 color: #b3134e;
	 font-size: 18px;
}
 body #okta-sign-in .recovery-challenge .o-form-fieldset-container {
	 align-items: flex-start;
}
 body #okta-sign-in .recovery-challenge .o-form-fieldset-container .button {
	 margin-top: 22px !important;
}
 body #okta-sign-in .o-form label {
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 color: #737375;
	 font-weight: 400;
	 font-size: 16px;
}
 body #okta-sign-in .o-form .custom-checkbox label {
	 font-size: 16px;
}
 body #okta-sign-in .o-form .o-form-input .o-form-control {
	 height: 45px;
	 border: 1px solid #ccc;
}
 body #okta-sign-in .o-form .o-form-input .o-form-control input {
	 font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 font-size: 16px;
	 color: #333;
}
 body #okta-sign-in .auth-footer {
	 text-align: center;
	 display: flex;
	 flex-direction: column;
}
 
